// Cards
.card-container {
    perspective: 1000px;
    float: left;
    border-radius: 8px;
}

.card-container:hover .card,
.card-container.active .card {
    transform: rotateY(180deg);
    cursor: pointer;
}

.card-container,
.front,
.back {
    width: 260px;
    height: 390px;
    margin: 40px;

    @media (max-width: 515px) {
        margin: 20px;
    }
}

.card-container {
    .card {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
        margin: -40px;

        @media (max-width: 515px) {
            margin: -20px;
        }

        .front,
        .back {
            backface-visibility: visible;
            background-color: $ivory;
            position: absolute;
            top: 0;
            left: 0;
        }

        .front {
            z-index: 0;
            transform: rotateY(0deg);

            .cardImg {
                width: 100%;
                border-radius: 8px;

                @media (hover:none){
                    height:80%;
                }
            }
        }

        .back {
            transform: rotateY(180deg);
            text-align: center;
            text-overflow: ellipsis;
            @include box-shadow;
            border-radius: 8px;

            .cardTitle {
                font-size: 22px;
                font-weight: bold;
                padding: 40px 0 15px;
            }

            .cardAuthor {
                font-weight: bold;
                padding: 10px;
            }

            .cardDesc {
                padding: 10px;
            }

            .cardInfo {
                margin-top: 10px;
                background-color: $moss;
                color: $white;
                position: fixed;
                bottom: 50px;
                padding: 14px 25px;
                text-align: center;
                text-decoration: none;
                display: block;
                width: 210px;
                z-index: 1000;
            }

            .cardDel {
                background-color: $brown;
                color: $white;
                position: fixed;
                bottom: 0px;
                padding: 14px 25px;
                text-align: center;
                text-decoration: none;
                display: block;
                cursor: pointer;
                border-radius: 0 0 8px 8px;
                width: 100%;
                font-size: 16px;
                border-color: $brown;
                font-family: inherit;
                outline: 0;
                z-index: 1000;
            }
        }
    }
}