// Dashboard
.dashboard {
    text-align: center;
    margin: 20px;

    .title {
        font-size: 60px;
        font-family: $font-title;
        color: $ivory;
        @include text-shadow;
        border: 3px solid $moss;

        @media (max-width: 630px) {
            font-size: 50px;
        }

        @media (max-width: 515px) {
            font-size: 32px;
        }
    }

    .subtitle {
        font-size: 28px;
        font-family: $font-title;
        color: $ivory;
        padding-top: 15px;
        border-bottom: 2px solid $moss;
        width: 280px;
        text-align: center;
        margin: 0 auto;

        @media (max-width: 630px) {
            font-size: 24px;
        }

        @media (max-width: 515px) {
            font-size: 20px;
            width: 180px;
        }
    }
}