// Navigation
.navbar {
    background-color: $moss;
    text-align: center;
    padding: 10px;
    @include box-shadow;

    .navLinks {
        text-decoration: none;
        font-family: $font-title;

        .links {
            display: inline;
            padding: 40px;
            font-size: 20px;
            text-transform: uppercase;
            color: $ivory;

            @media (max-width: 515px) {
                padding: 10px;
            }
        }

        .active {
            color: $black;
            @include text-shadow; 
        }
    }
}