// SavedPage
.savedPage {
    margin: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: solid;
    border-color: $moss;
    border-width: 3px;

    .noMessage {
        display: block;
        width: 100%;
        text-align: center;
        font-family: $font-title;
        font-size: 50px;
        margin-top: 100px;
        margin-bottom: 50px;
        @include text-shadow;

        @media (max-width: 515px) {
            font-size: 40px;
            margin-top: 100px;
        }
    }
}